<%-include(".././../Layouts/userheader.ejs")%>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/loginhomepage" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                        <div class="col-lg-9">
                       
                        <div class="product-list mb-50">
                            <div id="sorteditemsHere">
                                <!-- sorted products will be displayed here -->
                            </div>
                            <div id="listproducthere">
                            <%for(let i=0; i< productData.length; i++){%>
                            <div class="product-cart-wrap">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <div class="product-img-inner">
                                            <a href="/productview?id=<%=productData[i]._id %>">
                                                <img class="default-img"src="/cloud_images/<%=productData[i].images[0].url%>" alt="">
                                                <img class="hover-img"src="/cloud_images/<%=productData[i].images[2].url%>" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <%if(productData[i].stock>0){%>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="sale">SALE</span>
                                        </div>
                                    <%}else{%>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="sale">OUT OF STOCK</span>
                                            </div>
                                    <%}%>
                                </div>


                                <div class="product-content-wrap">
                                   <h2><a href="/productview?id=<%=productData[i]._id %>"><%=productData[i].productName%></a></h2>
                                   <div class="product-category">
                                        <span style="color: black;font-weight: bold;">
                                            <%=productData[i].category%>
                                        </span>
                                    </div>
                                    <span style="font-weight:bolder;color: red;">Brand : <%=productData[i].brand%></span>
                                    <div class="product-price">
                                        <span>$<%=productData[i].offerPrice%></span>
                                        <br>
                                        <span class="old-price">$<%=productData[i].regularPrice%></span>
                                       
                                    </div>
                                    <div class="product-action-1 show ">
                                        <a aria-label="Add now" class="action-btn addwnow wishlistbuttonoflisting btn btn-primary btn-sm" data-item-id="<%=productData[i]._id%>" id="wishlistbuttonlist">
                                                <i class="fi-rs-heart"></i> Add to Wishlist
                                            </a>
                                    </div>
                                   
                                </div>
                            </div>
                            <%}%>
                            </div>
                        </div>
                        
                       
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <div class="row d-flex justify-content-center">
                                <nav aria-label="Page navigation example">
                                    <a href="?page=<%= currentPage - 1 %>&gender=<%=gender%>&categoryName=<%=categoryy%>&sort=<%=sort%>" class="btn btn-primary">Previous</a>
                            
                                    Page <%= currentPage %> of <%= totalPages %>
                            
                                    <% if (currentPage < totalPages) { %>
                                        <a href="?page=<%= currentPage + 1 %>&gender=<%=gender%>&categoryName=<%=categoryy%>&sort=<%=sort%>" class="btn btn-primary">Next</a>
                                    <% } %>
                                </nav>
                            </div>
                        </div>

                        </div>

                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="sidebar-widget price_range range mb-30">
                                <div class="col-lg-12 primary-sidebar sticky-sidebar">
                                    <span style="color: rgb(35, 32, 32);font-weight: bold;">Gender : <%=gender%></span>
                                    <div class="widget-category">
                                        <h5 class="section-title style-1 wow fadeIn animated">Category</h5>
                
                                        <ul class="categories" style="font-weight: bolder;">
                                            <%for(let i=0;i< categoryData.length;i++){%>
                                            <li><a href="/filter?gender=<%=gender%>&categoryName=<%=categoryData[i].categoryName%>&sort=<%=sort%>"><%=categoryData[i].categoryName%></a></li>
    
                                            <%}%>
                                        </ul>
                                </div>
                                <div class="list-group">
                               <br>
                                    <div class="sort-by-product-area">
                                        <div class="sort-by-cover">
                                            <div class="sort-by-product-wrap">
                                                <div class="sort-by">
                                                    <span><i class="fi-rs-apps-sort"></i>Sort by Price</span>
                                                </div>
                                            </div><br>
                                        </div>
                                        <a href="/filter?gender=<%=gender%>&sort=1&categoryName=<%=categoryy%>"><button>Low to high</button></a>
                                        <a href="/filter?gender=<%=gender%>&sort=-1&categoryName=<%=categoryy%>"><button>High to low</button></a>
                                    </div>                    
                                </div>                     
                                </div>
                            </div>
                                   
                        </div>
                        </div>
                </div>          
  </section>

    </main>


    <%-include(".././../Layouts/userfooter.ejs")%>




    
   
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>

    <script>
     
    

        $(document).ready(function () {

            $('.addwnow').on('click', function () {
                let product_id = $(this).data('item-id');

                $.ajax({
                    url: '/addtowishlist',
                    method: 'POST',
                    data: { product_id: product_id },
                    success: function (response) {
                            document.getElementById('wishlistcount').innerText=response.count
                            $('.addwnow[data-item-id="' + product_id + '"]').html('<i class="fi-rs-heart"></i>Added to Wishlist');
                            var toastContainer = document.getElementById('toastContainer');
                            var toastEl = document.createElement('div');
                            toastEl.className = 'toast';
                            toastEl.setAttribute('role', 'alert');
                            toastEl.setAttribute('aria-live', 'assertive');
                            toastEl.setAttribute('aria-atomic', 'true');
                            toastContainer.appendChild(toastEl);

                            var toastHeader = document.createElement('div');
                            toastHeader.className = 'toast-header bg-success text-white';
                            var strong = document.createElement('strong');
                            strong.className = 'me-auto';
                            strong.innerText = 'Wishlist';
                            var button = document.createElement('button');
                            button.type = 'button';
                            button.className = 'btn-close text-white';
                            button.setAttribute('data-bs-dismiss', 'toast');
                            button.setAttribute('aria-label', 'Close');
                            toastHeader.appendChild(strong);
                            toastHeader.appendChild(button);



                            var toastBody = document.createElement('div');
                            toastBody.className = 'toast-body';
                            toastBody.idName= 'toast-body-id'
                            if(response.error){
                                toastBody.innerText="Item already present in wishlist";
                            }else{
                            toastBody.innerText = 'Item added to your wishlist!';
                             }
                            toastEl.appendChild(toastHeader);
                            toastEl.appendChild(toastBody);

                            var toast = new bootstrap.Toast(toastEl, {
                                autohide: true,
                                delay: 3000,
                                animation: true,
                            });

                            toast.show();
                        
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });

           
        });




/* search function */

    


function sortProducts(sortOrder) {
    $.ajax({
        type: "GET",
        url: "/sortproducts",
        data: { sort: sortOrder },
        success: function (response) {
            if (response.products && response.products.length > 0) {
                $('#sorteditemsHere').empty(); // Clear existing products
                $('#listproducthere').empty();
                    response.products.forEach(function (product) {
                    const productItem = `
        <div class="product-cart-wrap">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                    <div class="product-img-inner">
                        <a href="/productview?id=${product._id}">
                            <img class="default-img" src="/cloud_images/${product.images[0].url}" alt="">
                            <img class="hover-img" src="/cloud_images/${product.images[2].url}" alt="">
                        </a>
                    </div>
                </div>
                ${product.stock > 0 ?
                    `<div class="product-badges product-badges-position product-badges-mrg">
                        <span class="sale">SALE</span>
                    </div>` :
                    `<div class="product-badges product-badges-position product-badges-mrg">
                        <span class="sale">OUT OF STOCK</span>
                    </div>`
                }
            </div>
            <div class="product-content-wrap">
                <h2><a href="/productview?id=${product._id}">${product.productName}</a></h2>
                <div class="product-category">
                    <span>${product.category}</span>
                </div>
                <span style="font-weight: bold">Brand: ${product.brand}</span>
                <div class="product-price">
                    <span>$${product.offerPrice}</span>
                    <br>
                    <span class="old-price">$${product.regularPrice}</span>
                </div>
                <div class="product-action-1 show">
                    <a aria-label="Add now" class="action-btn addwnow" data-item-id="${product._id}">
                        <i class="fi-rs-heart"></i>Add to Wishlist
                    </a>
                    <div class="rating-result" title="90%">
                        <span>
                            <span>90%</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    `;

    $('#sorteditemsHere').append(productItem);
                    console.log('Product item:', productItem);
                });
                
            } else{
                // Handle case when there are no search results
                $('#sorteditemsHere').append('<p>No results found.</p>');
            }
        },
            error: function(error) {
                console.log('Sort error: ' + error);
            }
        });
    }


    $(document).on("click", ".sort-option", function(e) {
    e.preventDefault();
    const selectedOption = $(this).text();
    
    // Set the dropdown text to the selected option
    $("#sort-dropdown").text(selectedOption);
    
    // Toggle the dropdown
    $(".sort-by-dropdown ul").slideToggle();
});






    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-list-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>